USE [s16guest34]
GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Version', @level2type=N'COLUMN',@level2name=N'version_num'

GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'State'

GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Release'

GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Release', @level2type=N'COLUMN',@level2name=N'release_num'

GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Product'

GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Phone_Type'

GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Phone'

GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Internal_Version'

GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Feature'

GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Download'

GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Customer'

GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Country'

GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Commit'

GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Address'

GO
/****** Object:  StoredProcedure [dbo].[update_version]    Script Date: 5/4/2016 9:47:51 PM ******/
DROP PROCEDURE [dbo].[update_version]
GO
/****** Object:  StoredProcedure [dbo].[insert_feature]    Script Date: 5/4/2016 9:47:51 PM ******/
DROP PROCEDURE [dbo].[insert_feature]
GO
/****** Object:  StoredProcedure [dbo].[get_requests]    Script Date: 5/4/2016 9:47:51 PM ******/
DROP PROCEDURE [dbo].[get_requests]
GO
/****** Object:  StoredProcedure [dbo].[get_features]    Script Date: 5/4/2016 9:47:51 PM ******/
DROP PROCEDURE [dbo].[get_features]
GO
ALTER TABLE [dbo].[Version_Feature] DROP CONSTRAINT [FK_Version_Feature_Version]
GO
ALTER TABLE [dbo].[Version_Feature] DROP CONSTRAINT [FK_Version_Feature_Feature]
GO
ALTER TABLE [dbo].[Version] DROP CONSTRAINT [FK_Version_Platform]
GO
ALTER TABLE [dbo].[Version] DROP CONSTRAINT [FK_Version_Commit]
GO
ALTER TABLE [dbo].[Release] DROP CONSTRAINT [FK_Release_Version]
GO
ALTER TABLE [dbo].[Release] DROP CONSTRAINT [FK_Release_Type_Release]
GO
ALTER TABLE [dbo].[Phone] DROP CONSTRAINT [FK_Phone_Phone_Type]
GO
ALTER TABLE [dbo].[Phone] DROP CONSTRAINT [FK_Customer_Phone]
GO
ALTER TABLE [dbo].[Internal_Version] DROP CONSTRAINT [FK_Internal_Release_Commit]
GO
ALTER TABLE [dbo].[Download] DROP CONSTRAINT [FK_Download_Release]
GO
ALTER TABLE [dbo].[Download] DROP CONSTRAINT [FK_Download_Customer]
GO
ALTER TABLE [dbo].[Customer] DROP CONSTRAINT [FK_Customer_Company]
GO
ALTER TABLE [dbo].[Commit] DROP CONSTRAINT [FK_Commit_Product]
GO
ALTER TABLE [dbo].[Commit] DROP CONSTRAINT [FK_Commit_Commit]
GO
ALTER TABLE [dbo].[Address] DROP CONSTRAINT [FK_Address_State]
GO
ALTER TABLE [dbo].[Address] DROP CONSTRAINT [FK_Address_Country]
GO
ALTER TABLE [dbo].[Address] DROP CONSTRAINT [FK_Address_Company]
GO
/****** Object:  Table [dbo].[Version_Feature]    Script Date: 5/4/2016 9:47:51 PM ******/
DROP TABLE [dbo].[Version_Feature]
GO
/****** Object:  Table [dbo].[Version]    Script Date: 5/4/2016 9:47:51 PM ******/
DROP TABLE [dbo].[Version]
GO
/****** Object:  Table [dbo].[State]    Script Date: 5/4/2016 9:47:51 PM ******/
DROP TABLE [dbo].[State]
GO
/****** Object:  Table [dbo].[Release_Type]    Script Date: 5/4/2016 9:47:51 PM ******/
DROP TABLE [dbo].[Release_Type]
GO
/****** Object:  Table [dbo].[Release]    Script Date: 5/4/2016 9:47:51 PM ******/
DROP TABLE [dbo].[Release]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 5/4/2016 9:47:51 PM ******/
DROP TABLE [dbo].[Product]
GO
/****** Object:  Table [dbo].[Platform_Type]    Script Date: 5/4/2016 9:47:51 PM ******/
DROP TABLE [dbo].[Platform_Type]
GO
/****** Object:  Table [dbo].[Phone_Type]    Script Date: 5/4/2016 9:47:51 PM ******/
DROP TABLE [dbo].[Phone_Type]
GO
/****** Object:  Table [dbo].[Phone]    Script Date: 5/4/2016 9:47:51 PM ******/
DROP TABLE [dbo].[Phone]
GO
/****** Object:  Table [dbo].[Internal_Version]    Script Date: 5/4/2016 9:47:51 PM ******/
DROP TABLE [dbo].[Internal_Version]
GO
/****** Object:  Table [dbo].[Feature]    Script Date: 5/4/2016 9:47:51 PM ******/
DROP TABLE [dbo].[Feature]
GO
/****** Object:  Table [dbo].[Download]    Script Date: 5/4/2016 9:47:51 PM ******/
DROP TABLE [dbo].[Download]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 5/4/2016 9:47:51 PM ******/
DROP TABLE [dbo].[Customer]
GO
/****** Object:  Table [dbo].[Country]    Script Date: 5/4/2016 9:47:51 PM ******/
DROP TABLE [dbo].[Country]
GO
/****** Object:  Table [dbo].[Company]    Script Date: 5/4/2016 9:47:51 PM ******/
DROP TABLE [dbo].[Company]
GO
/****** Object:  Table [dbo].[Commit]    Script Date: 5/4/2016 9:47:51 PM ******/
DROP TABLE [dbo].[Commit]
GO
/****** Object:  Table [dbo].[Address]    Script Date: 5/4/2016 9:47:51 PM ******/
DROP TABLE [dbo].[Address]
GO
/****** Object:  Table [dbo].[Address]    Script Date: 5/4/2016 9:47:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Address](
	[company_id] [int] NOT NULL,
	[address_1] [varchar](30) NULL,
	[address_2] [varchar](20) NULL,
	[city] [varchar](30) NULL,
	[state_id] [int] NULL,
	[post_code] [varchar](12) NULL,
	[country_id] [int] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Commit]    Script Date: 5/4/2016 9:47:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Commit](
	[commit_id] [int] IDENTITY(1,1) NOT NULL,
	[commit_prior_id] [int] NULL,
	[commit_date] [date] NOT NULL,
	[product_id] [int] NOT NULL,
 CONSTRAINT [PK_Commit] PRIMARY KEY CLUSTERED 
(
	[commit_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Company]    Script Date: 5/4/2016 9:47:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Company](
	[company_id] [int] IDENTITY(1,1) NOT NULL,
	[company_name] [varchar](30) NOT NULL,
 CONSTRAINT [PK_Company] PRIMARY KEY CLUSTERED 
(
	[company_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Country]    Script Date: 5/4/2016 9:47:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Country](
	[country_id] [int] IDENTITY(1,1) NOT NULL,
	[country_name] [varchar](60) NOT NULL,
	[country_ISO_code] [char](2) NOT NULL,
 CONSTRAINT [PK_Country] PRIMARY KEY CLUSTERED 
(
	[country_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 5/4/2016 9:47:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Customer](
	[customer_id] [int] IDENTITY(1,1) NOT NULL,
	[company_id] [int] NOT NULL,
	[email] [varchar](254) NOT NULL,
	[first_name] [varchar](15) NOT NULL,
	[last_name] [varchar](30) NOT NULL,
	[password] [varchar](12) NOT NULL,
	[username] [varchar](15) NOT NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[customer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Download]    Script Date: 5/4/2016 9:47:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Download](
	[customer_id] [int] NOT NULL,
	[release_id] [int] NOT NULL,
	[download_datetime] [datetime] NOT NULL,
 CONSTRAINT [PK_Download] PRIMARY KEY CLUSTERED 
(
	[customer_id] ASC,
	[release_id] ASC,
	[download_datetime] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Feature]    Script Date: 5/4/2016 9:47:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Feature](
	[feature_id] [int] IDENTITY(1,1) NOT NULL,
	[feature_desc] [varchar](max) NOT NULL,
 CONSTRAINT [PK_Feature] PRIMARY KEY CLUSTERED 
(
	[feature_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Internal_Version]    Script Date: 5/4/2016 9:47:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Internal_Version](
	[commit_id] [int] NOT NULL,
	[version_num] [varchar](20) NOT NULL,
	[release_date] [datetime] NOT NULL,
 CONSTRAINT [PK_Internal_Release] PRIMARY KEY CLUSTERED 
(
	[commit_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Phone]    Script Date: 5/4/2016 9:47:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Phone](
	[phone_id] [int] IDENTITY(1,1) NOT NULL,
	[customer_id] [int] NOT NULL,
	[number] [varchar](30) NOT NULL,
	[phone_type_id] [tinyint] NOT NULL,
 CONSTRAINT [PK_Phone] PRIMARY KEY CLUSTERED 
(
	[phone_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Phone_Type]    Script Date: 5/4/2016 9:47:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Phone_Type](
	[phone_type_id] [tinyint] IDENTITY(1,1) NOT NULL,
	[phone_type] [varchar](10) NOT NULL,
 CONSTRAINT [PK_Phone_Type] PRIMARY KEY CLUSTERED 
(
	[phone_type_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Platform_Type]    Script Date: 5/4/2016 9:47:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Platform_Type](
	[platform_type_id] [int] IDENTITY(1,1) NOT NULL,
	[platform_type] [varchar](20) NOT NULL,
 CONSTRAINT [PK_Platform_Type] PRIMARY KEY CLUSTERED 
(
	[platform_type_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Product]    Script Date: 5/4/2016 9:47:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Product](
	[product_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NOT NULL,
	[description] [varchar](max) NULL,
	[source_dir] [varchar](260) NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Release]    Script Date: 5/4/2016 9:47:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Release](
	[release_id] [int] IDENTITY(1,1) NOT NULL,
	[release_num] [varchar](20) NOT NULL,
	[release_date] [date] NOT NULL,
	[release_type_id] [int] NOT NULL,
	[is_supported] [bit] NOT NULL,
	[version_id] [int] NOT NULL,
	[download_URL] [varchar](max) NOT NULL,
 CONSTRAINT [PK_Release] PRIMARY KEY CLUSTERED 
(
	[release_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Release_Type]    Script Date: 5/4/2016 9:47:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Release_Type](
	[release_type_id] [int] IDENTITY(1,1) NOT NULL,
	[release_type] [varchar](20) NOT NULL,
 CONSTRAINT [PK_Release_Type] PRIMARY KEY CLUSTERED 
(
	[release_type_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[State]    Script Date: 5/4/2016 9:47:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[State](
	[state_id] [int] IDENTITY(1,1) NOT NULL,
	[state_name] [varchar](50) NOT NULL,
	[state_code] [char](2) NOT NULL,
 CONSTRAINT [PK_State] PRIMARY KEY CLUSTERED 
(
	[state_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Version]    Script Date: 5/4/2016 9:47:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Version](
	[version_id] [int] IDENTITY(1,1) NOT NULL,
	[commit_id] [int] NOT NULL,
	[version_num] [varchar](20) NOT NULL,
	[platform_type_id] [int] NOT NULL,
 CONSTRAINT [PK_Version_1] PRIMARY KEY CLUSTERED 
(
	[version_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Version_Feature]    Script Date: 5/4/2016 9:47:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Version_Feature](
	[version_id] [int] NOT NULL,
	[feature_id] [int] NOT NULL,
	[is_deprecated] [bit] NOT NULL,
 CONSTRAINT [PK_Version_Feature] PRIMARY KEY CLUSTERED 
(
	[version_id] ASC,
	[feature_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[Address] ([company_id], [address_1], [address_2], [city], [state_id], [post_code], [country_id]) VALUES (1, N'123 Privet Street', NULL, N'Los Angeles', 5, N'91601', NULL)
INSERT [dbo].[Address] ([company_id], [address_1], [address_2], [city], [state_id], [post_code], [country_id]) VALUES (2, N'348 Jinx Road', NULL, N'London', NULL, NULL, 235)
SET IDENTITY_INSERT [dbo].[Commit] ON 

INSERT [dbo].[Commit] ([commit_id], [commit_prior_id], [commit_date], [product_id]) VALUES (1, NULL, CAST(N'1999-10-14' AS Date), 1)
INSERT [dbo].[Commit] ([commit_id], [commit_prior_id], [commit_date], [product_id]) VALUES (2, 1, CAST(N'1999-10-28' AS Date), 1)
INSERT [dbo].[Commit] ([commit_id], [commit_prior_id], [commit_date], [product_id]) VALUES (3, 2, CAST(N'1999-11-14' AS Date), 1)
SET IDENTITY_INSERT [dbo].[Commit] OFF
SET IDENTITY_INSERT [dbo].[Company] ON 

INSERT [dbo].[Company] ([company_id], [company_name]) VALUES (1, N'ABC records')
INSERT [dbo].[Company] ([company_id], [company_name]) VALUES (2, N'ZYX Corp')
INSERT [dbo].[Company] ([company_id], [company_name]) VALUES (3, N'99 Store')
SET IDENTITY_INSERT [dbo].[Company] OFF
SET IDENTITY_INSERT [dbo].[Country] ON 

INSERT [dbo].[Country] ([country_id], [country_name], [country_ISO_code]) VALUES (1, N'Afghanistan', N'AF')
INSERT [dbo].[Country] ([country_id], [country_name], [country_ISO_code]) VALUES (2, N'Åland Islands', N'AX')
INSERT [dbo].[Country] ([country_id], [country_name], [country_ISO_code]) VALUES (3, N'Albania', N'AL')
GO
SET IDENTITY_INSERT [dbo].[Country] OFF
SET IDENTITY_INSERT [dbo].[Customer] ON 

INSERT [dbo].[Customer] ([customer_id], [company_id], [email], [first_name], [last_name], [password], [username]) VALUES (1, 1, N'p.smith@abc.com', N'Peter', N'Smith', N'fnord1234', N'psmith21')
INSERT [dbo].[Customer] ([customer_id], [company_id], [email], [first_name], [last_name], [password], [username]) VALUES (2, 2, N'maria@zyx.com', N'Maria', N'Bounte', N'shark3y', N'mariadia')
INSERT [dbo].[Customer] ([customer_id], [company_id], [email], [first_name], [last_name], [password], [username]) VALUES (3, 3, N'david.sommerset@99cents.store', N'David', N'Sommerset', N'7811dfg', N'sommersetd')
SET IDENTITY_INSERT [dbo].[Customer] OFF
INSERT [dbo].[Download] ([customer_id], [release_id], [download_datetime]) VALUES (1, 2, CAST(N'2000-05-12T07:07:12.000' AS DateTime))
INSERT [dbo].[Download] ([customer_id], [release_id], [download_datetime]) VALUES (1, 3, CAST(N'2000-06-01T19:09:07.000' AS DateTime))
INSERT [dbo].[Download] ([customer_id], [release_id], [download_datetime]) VALUES (2, 1, CAST(N'2000-05-11T00:08:07.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Feature] ON 

INSERT [dbo].[Feature] ([feature_id], [feature_desc]) VALUES (1, N'login module')
INSERT [dbo].[Feature] ([feature_id], [feature_desc]) VALUES (2, N'patient registration')
INSERT [dbo].[Feature] ([feature_id], [feature_desc]) VALUES (3, N'patient profile')
SET IDENTITY_INSERT [dbo].[Feature] OFF
SET IDENTITY_INSERT [dbo].[Phone] ON 

INSERT [dbo].[Phone] ([phone_id], [customer_id], [number], [phone_type_id]) VALUES (1, 1, N'123-485-8973', 1)
INSERT [dbo].[Phone] ([phone_id], [customer_id], [number], [phone_type_id]) VALUES (2, 2, N'1-28-397863896', 1)
INSERT [dbo].[Phone] ([phone_id], [customer_id], [number], [phone_type_id]) VALUES (3, 3, N'179-397-87968', 2)
SET IDENTITY_INSERT [dbo].[Phone] OFF
SET IDENTITY_INSERT [dbo].[Phone_Type] ON 

INSERT [dbo].[Phone_Type] ([phone_type_id], [phone_type]) VALUES (1, N'work')
INSERT [dbo].[Phone_Type] ([phone_type_id], [phone_type]) VALUES (2, N'mobile')
INSERT [dbo].[Phone_Type] ([phone_type_id], [phone_type]) VALUES (3, N'home')
SET IDENTITY_INSERT [dbo].[Phone_Type] OFF
SET IDENTITY_INSERT [dbo].[Platform_Type] ON 

INSERT [dbo].[Platform_Type] ([platform_type_id], [platform_type]) VALUES (1, N'Windows')
INSERT [dbo].[Platform_Type] ([platform_type_id], [platform_type]) VALUES (2, N'Linux')
SET IDENTITY_INSERT [dbo].[Platform_Type] OFF
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([product_id], [name], [description], [source_dir]) VALUES (1, N'EHR System', N'health records system for the patients', N'/development')
SET IDENTITY_INSERT [dbo].[Product] OFF
SET IDENTITY_INSERT [dbo].[Release] ON 

INSERT [dbo].[Release] ([release_id], [release_num], [release_date], [release_type_id], [is_supported], [version_id], [download_URL]) VALUES (1, N'1.1', CAST(N'2000-01-01' AS Date), 1, 1, 1, N'/1.1/1.1')
INSERT [dbo].[Release] ([release_id], [release_num], [release_date], [release_type_id], [is_supported], [version_id], [download_URL]) VALUES (2, N'1.1', CAST(N'2000-01-01' AS Date), 1, 1, 2, N'/1.2/1.1')
INSERT [dbo].[Release] ([release_id], [release_num], [release_date], [release_type_id], [is_supported], [version_id], [download_URL]) VALUES (3, N'2.1', CAST(N'2000-05-01' AS Date), 2, 1, 3, N'/2.1/2.1')
SET IDENTITY_INSERT [dbo].[Release] OFF
SET IDENTITY_INSERT [dbo].[Release_Type] ON 

INSERT [dbo].[Release_Type] ([release_type_id], [release_type]) VALUES (1, N'new product release')
INSERT [dbo].[Release_Type] ([release_type_id], [release_type]) VALUES (2, N'new features release')
INSERT [dbo].[Release_Type] ([release_type_id], [release_type]) VALUES (3, N'bug-fix release')
SET IDENTITY_INSERT [dbo].[Release_Type] OFF
SET IDENTITY_INSERT [dbo].[State] ON 

INSERT [dbo].[State] ([state_id], [state_name], [state_code]) VALUES (1, N'Alabama', N'AL')
INSERT [dbo].[State] ([state_id], [state_name], [state_code]) VALUES (2, N'Alaska', N'AK')
INSERT [dbo].[State] ([state_id], [state_name], [state_code]) VALUES (3, N'Arizona', N'AZ')
SET IDENTITY_INSERT [dbo].[State] OFF
SET IDENTITY_INSERT [dbo].[Version] ON 

INSERT [dbo].[Version] ([version_id], [commit_id], [version_num], [platform_type_id]) VALUES (1, 6, N'1.1', 1)
INSERT [dbo].[Version] ([version_id], [commit_id], [version_num], [platform_type_id]) VALUES (2, 6, N'1.2', 2)
INSERT [dbo].[Version] ([version_id], [commit_id], [version_num], [platform_type_id]) VALUES (3, 14, N'2.1', 1)
SET IDENTITY_INSERT [dbo].[Version] OFF
INSERT [dbo].[Version_Feature] ([version_id], [feature_id], [is_deprecated]) VALUES (1, 1, 0)
INSERT [dbo].[Version_Feature] ([version_id], [feature_id], [is_deprecated]) VALUES (1, 2, 0)
INSERT [dbo].[Version_Feature] ([version_id], [feature_id], [is_deprecated]) VALUES (1, 3, 0)
ALTER TABLE [dbo].[Address]  WITH CHECK ADD  CONSTRAINT [FK_Address_Company] FOREIGN KEY([company_id])
REFERENCES [dbo].[Company] ([company_id])
GO
ALTER TABLE [dbo].[Address] CHECK CONSTRAINT [FK_Address_Company]
GO
ALTER TABLE [dbo].[Address]  WITH CHECK ADD  CONSTRAINT [FK_Address_Country] FOREIGN KEY([country_id])
REFERENCES [dbo].[Country] ([country_id])
GO
ALTER TABLE [dbo].[Address] CHECK CONSTRAINT [FK_Address_Country]
GO
ALTER TABLE [dbo].[Address]  WITH CHECK ADD  CONSTRAINT [FK_Address_State] FOREIGN KEY([state_id])
REFERENCES [dbo].[State] ([state_id])
GO
ALTER TABLE [dbo].[Address] CHECK CONSTRAINT [FK_Address_State]
GO
ALTER TABLE [dbo].[Commit]  WITH CHECK ADD  CONSTRAINT [FK_Commit_Commit] FOREIGN KEY([commit_prior_id])
REFERENCES [dbo].[Commit] ([commit_id])
GO
ALTER TABLE [dbo].[Commit] CHECK CONSTRAINT [FK_Commit_Commit]
GO
ALTER TABLE [dbo].[Commit]  WITH CHECK ADD  CONSTRAINT [FK_Commit_Product] FOREIGN KEY([product_id])
REFERENCES [dbo].[Product] ([product_id])
GO
ALTER TABLE [dbo].[Commit] CHECK CONSTRAINT [FK_Commit_Product]
GO
ALTER TABLE [dbo].[Customer]  WITH CHECK ADD  CONSTRAINT [FK_Customer_Company] FOREIGN KEY([company_id])
REFERENCES [dbo].[Company] ([company_id])
GO
ALTER TABLE [dbo].[Customer] CHECK CONSTRAINT [FK_Customer_Company]
GO
ALTER TABLE [dbo].[Download]  WITH CHECK ADD  CONSTRAINT [FK_Download_Customer] FOREIGN KEY([customer_id])
REFERENCES [dbo].[Customer] ([customer_id])
GO
ALTER TABLE [dbo].[Download] CHECK CONSTRAINT [FK_Download_Customer]
GO
ALTER TABLE [dbo].[Download]  WITH CHECK ADD  CONSTRAINT [FK_Download_Release] FOREIGN KEY([release_id])
REFERENCES [dbo].[Release] ([release_id])
GO
ALTER TABLE [dbo].[Download] CHECK CONSTRAINT [FK_Download_Release]
GO
ALTER TABLE [dbo].[Internal_Version]  WITH CHECK ADD  CONSTRAINT [FK_Internal_Release_Commit] FOREIGN KEY([commit_id])
REFERENCES [dbo].[Commit] ([commit_id])
GO
ALTER TABLE [dbo].[Internal_Version] CHECK CONSTRAINT [FK_Internal_Release_Commit]
GO
ALTER TABLE [dbo].[Phone]  WITH CHECK ADD  CONSTRAINT [FK_Customer_Phone] FOREIGN KEY([customer_id])
REFERENCES [dbo].[Customer] ([customer_id])
GO
ALTER TABLE [dbo].[Phone] CHECK CONSTRAINT [FK_Customer_Phone]
GO
ALTER TABLE [dbo].[Phone]  WITH CHECK ADD  CONSTRAINT [FK_Phone_Phone_Type] FOREIGN KEY([phone_type_id])
REFERENCES [dbo].[Phone_Type] ([phone_type_id])
GO
ALTER TABLE [dbo].[Phone] CHECK CONSTRAINT [FK_Phone_Phone_Type]
GO
ALTER TABLE [dbo].[Release]  WITH CHECK ADD  CONSTRAINT [FK_Release_Type_Release] FOREIGN KEY([release_type_id])
REFERENCES [dbo].[Release_Type] ([release_type_id])
GO
ALTER TABLE [dbo].[Release] CHECK CONSTRAINT [FK_Release_Type_Release]
GO
ALTER TABLE [dbo].[Release]  WITH CHECK ADD  CONSTRAINT [FK_Release_Version] FOREIGN KEY([version_id])
REFERENCES [dbo].[Version] ([version_id])
GO
ALTER TABLE [dbo].[Release] CHECK CONSTRAINT [FK_Release_Version]
GO
ALTER TABLE [dbo].[Version]  WITH CHECK ADD  CONSTRAINT [FK_Version_Commit] FOREIGN KEY([commit_id])
REFERENCES [dbo].[Commit] ([commit_id])
GO
ALTER TABLE [dbo].[Version] CHECK CONSTRAINT [FK_Version_Commit]
GO
ALTER TABLE [dbo].[Version]  WITH CHECK ADD  CONSTRAINT [FK_Version_Platform] FOREIGN KEY([platform_type_id])
REFERENCES [dbo].[Platform_Type] ([platform_type_id])
GO
ALTER TABLE [dbo].[Version] CHECK CONSTRAINT [FK_Version_Platform]
GO
ALTER TABLE [dbo].[Version_Feature]  WITH CHECK ADD  CONSTRAINT [FK_Version_Feature_Feature] FOREIGN KEY([feature_id])
REFERENCES [dbo].[Feature] ([feature_id])
GO
ALTER TABLE [dbo].[Version_Feature] CHECK CONSTRAINT [FK_Version_Feature_Feature]
GO
ALTER TABLE [dbo].[Version_Feature]  WITH CHECK ADD  CONSTRAINT [FK_Version_Feature_Version] FOREIGN KEY([version_id])
REFERENCES [dbo].[Version] ([version_id])
GO
ALTER TABLE [dbo].[Version_Feature] CHECK CONSTRAINT [FK_Version_Feature_Version]
GO
/****** Object:  StoredProcedure [dbo].[get_features]    Script Date: 5/4/2016 9:47:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Benjamin Plotkin
-- Create date: 2016-05-04
-- Description:	New features counter
-- =============================================
CREATE PROCEDURE [dbo].[get_features] 
	-- Takes release number string as search parameter
	@release_num varchar(20) = NULL

AS
BEGIN
	DECLARE @feature_count INT = 0;
	DECLARE @version_id INT = NULL;

	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	-- try to get a count of version features related to release number
	BEGIN TRY
		-- if release doesn't exist, alert user
		IF NOT EXISTS(SELECT release_num FROM Release WHERE release_num = @release_num)
		BEGIN
			SELECT('Please enter a valid Release Number!') AS 'Message'
		END
		ELSE
		BEGIN
			SET @version_id = (SELECT TOP 1 version_id
				FROM [dbo].[Release]
				WHERE [dbo].[Release].release_num = @release_num)
			
			-- get count of features in release version, if any
			SET @feature_count = (SELECT COUNT(v1.feature_id)
				FROM [dbo].[Version_Feature] v1
				WHERE v1.version_id = @version_id)

			-- if we find any features, show their count	
			IF @feature_count > 0
			BEGIN
				SELECT(CONVERT(VARCHAR(10), @feature_count) + ' features are in the '
				+ @release_num + ' release.') AS 'Message'
			END
			ELSE -- otherwise, it's a bug-fix release
			BEGIN
				SELECT('It is a bug-fix release. There are no new features.') AS 'Message'
			END
		END
	END TRY

	-- catch any errors
	BEGIN CATCH
		DECLARE @err_num INT = ERROR_NUMBER();
		DECLARE @err_msg NVARCHAR(4000) = ERROR_MESSAGE();
		DECLARE @err_sev INT = ERROR_SEVERITY();
		DECLARE @err_state INT = ERROR_STATE();
		PRINT 'Error number: ' + CAST(@err_num AS VARCHAR(10));
		RAISERROR(@err_msg, @err_sev, @err_state);
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[get_requests]    Script Date: 5/4/2016 9:47:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Benjamin Plotkin
-- Create date: 2016-05-04
-- Description:	Product Request (Downloads) Form
-- =============================================
CREATE PROCEDURE [dbo].[get_requests] 

-- no parameters, this runs for all downloads (unsure as to
-- what specifications were requesting here)

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	-- Execute our query (again, no params needed, this is a global / "all time" report)
	BEGIN TRY
		SELECT p1.name AS 'Product', v1.version_num AS 'Version', DATENAME(MONTH, download_datetime) 
			AS 'Month', COUNT(download_datetime) AS 'Count'

		FROM [dbo].[Download] d1, [dbo].[Release] r1, [dbo].[Version] v1, [dbo].[Commit] c1, 
			[dbo].[Product] p1

		WHERE d1.release_id = r1.release_id AND
			r1.version_id = v1.version_id AND
			v1.commit_id = c1.commit_id AND
			c1.product_id = p1.product_id

		GROUP BY p1.product_id, v1.version_num, DATENAME(MONTH, download_datetime), p1.name
	END TRY

	-- If we catch an error on above query, throw detailed error message
	BEGIN CATCH
		DECLARE @err_num INT = ERROR_NUMBER();
		DECLARE @err_msg NVARCHAR(4000) = ERROR_MESSAGE();
		DECLARE @err_sev INT = ERROR_SEVERITY();
		DECLARE @err_state INT = ERROR_STATE();
		PRINT 'Error number: ' + CAST(@err_num AS VARCHAR(10));
		RAISERROR(@err_msg, @err_sev, @err_state);
	END CATCH
END

GO
/****** Object:  StoredProcedure [dbo].[insert_feature]    Script Date: 5/4/2016 9:47:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Benjamin Plotkin
-- Create date: 2016-05-04
-- Description:	Insert feature description record into Feature table
-- =============================================
CREATE PROCEDURE [dbo].[insert_feature] 
	-- String parameter holding the new feature description text
	@feature_desc VARCHAR(MAX) = NULL
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Try to insert new feature description text
	BEGIN TRY
		INSERT INTO Feature
		VALUES	(@feature_desc);
	END TRY
	
	-- If we catch an error on above insert (like if description was left NULL)
	-- throw detailed error message
	BEGIN CATCH
		DECLARE @err_num INT = ERROR_NUMBER();
		DECLARE @err_msg NVARCHAR(4000) = ERROR_MESSAGE();
		DECLARE @err_sev INT = ERROR_SEVERITY();
		DECLARE @err_state INT = ERROR_STATE();
		PRINT 'Error number: ' + CAST(@err_num AS VARCHAR(10));
		RAISERROR(@err_msg, @err_sev, @err_state);
	END CATCH
END

GO
/****** Object:  StoredProcedure [dbo].[update_version]    Script Date: 5/4/2016 9:47:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Benjamin Plotkin
-- Create date: 2016-05-04
-- Description:	Update version number in Version table
-- =============================================
CREATE PROCEDURE [dbo].[update_version]
	-- Parameters include integer ID for specific Product,
	-- string for version number to update, and string for
	-- new version number to push
	@product_id INT,
	@version_num VARCHAR(20),
	@new_version_num VARCHAR(20)

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	-- make sure our parameters actually find something
	IF EXISTS (
		SELECT *
		FROM [Version] t1
		INNER JOIN [Commit] t2 ON t1.commit_id = t2.commit_id
		WHERE t2.product_id = @product_id AND 
			version_num = @version_num
		)
		-- if found, try to update found set
		BEGIN TRY
			UPDATE [Version]
			SET version_num = @new_version_num
				FROM [Version] t1
				INNER JOIN [Commit] t2 ON t1.commit_id = t2.commit_id
				WHERE t2.product_id = @product_id AND 
					version_num = @version_num
			SELECT 'Updated ' + @version_num + ' to ' + @new_version_num AS 'Message'
		END TRY

		-- catch any errors
		BEGIN CATCH
			DECLARE @err_num INT = ERROR_NUMBER();
			DECLARE @err_msg NVARCHAR(4000) = ERROR_MESSAGE();
			DECLARE @err_sev INT = ERROR_SEVERITY();
			DECLARE @err_state INT = ERROR_STATE();
			PRINT 'Error number: ' + CAST(@err_num AS VARCHAR(10));
			RAISERROR(@err_msg, @err_sev, @err_state);
		END CATCH

	ELSE -- we didn't find anything, raise a general error alert
		BEGIN
			RAISERROR('Product Version not found; canceling update.', 11,1)
		END
END

GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Holds Company address data' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Address'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Holds our code commit info' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Commit'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Holds country names for address picker' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Country'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Holds our customer (individual) data' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Customer'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Join table cross-referencing customers with downloaded releases' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Download'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Holds overall list of possible software features' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Feature'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Holds internal (non-customer) software release data' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Internal_Version'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Customer phone data' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Phone'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Stores data for phone type pick list' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Phone_Type'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Holds our software products' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Product'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Human-readable, separate from ID' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Release', @level2type=N'COLUMN',@level2name=N'release_num'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Table to hold customer software release data' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Release'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Holds state values for picker' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'State'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Human-readable, separate from ID' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Version', @level2type=N'COLUMN',@level2name=N'version_num'
GO
